<article id="detailsArticle">

    <small class="author pull-right" style="margin-right: 5px">
        Ad by {{author.fullName}}, viewed {{viewCount}} times.
    </small>

    <img src="{{picturePath}}" id="detailsPicture" alt="Image">

        <div id="detailsTitle">
            <h2>{{title}}</h2>
        </div>


        <div id="detailsContent">
            {{content}}
        </div>

    <footer>
        <div id="detailsButtons">
            <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
            <a class="btn btn-success btn-xs" href="/article/edit/{{id}}">Edit &raquo;</a>
            <a class="btn btn-danger btn-xs" href="/article/delete/{{id}}">Delete &raquo;</a>
        </div>
    </footer>
</article>