<article id="detailsArticle">
    <div class="pull-left" style="position: absolute; margin-left: 20px; margin-top: -5px;">
        Category - <span style="font-weight: bold">{{category}}</span>
    </div>

    <small class="author pull-right" style="margin-right: 5px">
        Ad by {{article.author.fullName}}, viewed {{article.viewCount}} times.<br />
        ID: {{article.id}}
    </small>

    <img src="{{article.picturePath}}" id="detailsPicture" alt="Image">

        <div id="detailsTitle">
            <h2>{{article.title}}</h2>
        </div>


        <div id="detailsContent">
            {{article.content}}
        </div>

    <footer>
        <div id="detailsButtons">
            {{#if isUserAuthorized}}
            <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Edit &raquo;</a>
            <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Delete &raquo;</a>
            {{/if}}
            {{#unless isAuthor}}
            <a class="btn btn-success btn-xs" href="/message/{{article.id}}">Send Message</a>
            {{/unless}}
            <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
        </div>
    </footer>
</article>