<article id="detailsArticle">
    <div class="pull-left" style="position: absolute; margin-left: 20px; margin-top: -5px;">
        Категория - <span style="font-weight: bold">{{category}}</span>
    </div>

    <small class="author pull-right" style="margin-right: 5px">
        Публикувана от {{article.author.fullName}}, посетена {{article.viewCount}} пъти.<br />
        ID: {{article.id}}
    </small>

    <img src="{{article.picturePath}}" id="detailsPicture" alt="Image">

        <div id="detailsTitle">
            <h2>{{article.title}}</h2>
        </div>


        <div id="detailsContent">
            {{article.content}}
        </div>

    <footer>
        <div id="detailsButtons">
            <a class="btn btn-default btn-xs" href="/">Назад &raquo;</a>
            {{#if isUserAuthorized}}
            <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Промени &raquo;</a>
            <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Изтрий &raquo;</a>
            {{/if}}
        </div>
    </footer>
</article>